@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-image: linear-gradient(to right, rgb(79, 116, 238), rgb(57, 217, 238));
  font-family: Roboto;
}

.btn {
  background-color: #0CCBFF;;
  border-radius: 15px;
  padding: 1rem 2rem;
  font-weight: bold;
  transition: all 0.3s;
}

.btn:hover {
  filter: brightness(0.8);
  scale: 1.1;
}

.serviceBlock {
  
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50px;
  cursor: pointer;
  
}
.serviceBlock img {
 
}

.hoursBlock {
  padding: 1rem;
  font-size: 1.3rem;
  margin-bottom: 10rem;
  line-height: 3rem;
}

.hoursBlock ul li {
  border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hoursBlock ul li span {
  margin-left: 7rem;
}

.txt{
  color: #31d1fdcc;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.zIndex {
  z-index: 100 !important;
}



